<!DOCTYPE html>
<html>
  <head>
    <title>SongsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href=<%= artists_path %>>Artists</a>
            <a class="nav-item nav-link" href="<%= albums_index_path %>">Albums</a>
      <a class="nav-item nav-link" href=<%= songs_index_path %>>Songs</a>

    </div>
    </nav>
    <%= yield %>
  </body>
</html>
