
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Player</th>
      <th scope="col">Album Cover</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @songs.each do |song| %>
    <tr class= "song-card" scope="row">
        <td><%= song.name %></td>
        <td>        
            <audio controls>
                <source src="<%= song.link %>" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </td>
        <td><img src="<%=song.cover %>" alt=""></td>
        <td><%= link_to 'View Album', album_path(song.album_id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!--<div class= "list">
    <strong>Name</strong>
    <strong>Player</strong>
    <strong>Album Cover</strong>
    <strong>Action</strong>
</div>

<% @songs.each do |song| %>
    <div class= "song-card">
        <p><%= song.name %></p>
        <audio controls>
            <source src="<%= song.link %>" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <img src="<%=song.cover %>" alt="">
        <%= link_to 'View Album', album_path(song.album_id) %>
    </div>
    <br>
<% end %>-->
